<% api = GitHubV3API.new session[:access_token] %>
<% repositories = [] %>
  
<% ## 1. user's organizations repositories %>
<% orgs = api.orgs.list %>
<% orgs.each do |org| %>
  <% org.repos.each do |repository| %>
    <% repositories << repository %>
  <% end %>
<% end %>

<% ## 2. user's repositories %>
<% user_repos = api.repos.list %>
<% user_repos.each do |repository| %>
  <% repositories << repository %>
<% end %>

<% branches = [] %>
<% tags = [] %>
<% repositories.each do |repository| %>
  <% if repository.html_url == project.github_repository %>
    <% branches = repository.list_branches %>
    <% tags = repository.list_tags %>
  <% end %>
<% end %>
     
<div id="branches_tags">
  <ul>
    <li>
      <a href="#branches">Branches</a>
    </li>
    <li>
      <a href="#tags">Tags</a>
    </li>
  </ul>
  <div id="branches">
    <ul>
    <% branches.each do |branch| %>
      <li>
        <a href="<%= branch.name %>"><%= branch.name %></a>
      </li>
    <% end %>
    </ul>
  </div>
  <div id="tags">
    <ul>
    <% tags.each do |tag| %>
      <li>
        <a href="<%= tag.name %>"><%= tag.name %></a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
